<div class="jumbotron">
	<h2><b>
		Stack Overflow Search
	</b></h2>
	<p> 
		Search for what you want from Stack Overflow
	</p>
	<p>
		<a id="modal-287366" href="#modal-container-287366" role="button" class="btn btn-primary btn-large" data-toggle="modal">Read More</a>
	</p>
</div>