<div class="jumbotron">
	<h2>
		Information Retrival | CS5364
	</h2>
	<p>
		Application description to go here.
	</p>
	<p>
		<a id="modal-287366" href="#modal-container-287366" role="button" class="btn btn-primary btn-large" data-toggle="modal">Read More</a>
	</p>
</div>