<% @questions.each do |question| %>
	<div class="question-index">
		<h3><%= link_to "#{question.title}".html_safe, question.link %></h3>
		<div>
			<p><span>Posted:</span> <%= DateTime.strptime(question.creation_date,'%s').strftime("%m/%d/%Y") %></p>
			<p><span>Tags:</span> <%= question.tags %></p>
		</div>
	</div>
<% end %>

<%= paginate @questions %>